{% extends "base.html" %}

{% block title %}Análise Criminal{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Mapa do Site:</h1>
			<ol>
				<li>Login: <a href="{% url 'accounts:login' %}">
					Autenticação para visualização das páginas do site</a></li>
				<li>Mapa: <a href="{% url 'analise_criminal:map' %}">
					Visualização interarativa e dinâmica
					 de registros criminais</a></li>
				<li>Relatório: <a href="{% url 'analise_criminal:report' %}">
					Análise e comparação de registros criminais
				</a></li>
			</ol>
		</div>
	</div>
</div>



{% endblock %}