{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Lab{% endblock %}

{% block body %}

<script src="{% static 'js/plotly.min.js' %}"></script>

		{% for key, values in axis.items %}
			<div id="{{ key|slugify }}" style="width:100%; height:500px;"></div>
			<script>
			$(function() {
				TESTER = document.getElementById('{{ key|slugify }}');
				data = [
					{
					{% if values.type == 'pie' %}
						type: 'pie',
						{% autoescape off %}
						labels: {{ values.labels }},
						values: {{ values.values }},
						{% endautoescape %}
					{% else %}
						type: '{{ values.type }}',
						{% autoescape off %}
						x: {{ values.x }},
						y: {{ values.y }},
						{% endautoescape %}
						marker: {color: '{{ values.color }}' }
					{% endif %}
					}
				]
				layout = {
					title: '<b>{{ values.title|capfirst }}</b>',
					xaxis: { title: '{{ key|capfirst }}' },
					yaxis: { title: 'Registros'},
				}

				Plotly.plot(TESTER, data, layout);
			});
			</script>
		{% endfor %} {# axis.values #}

{% endblock %} {# body #}