{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Mancha Criminal{% endblock %}

{% block body %}

<style>
	ul.errorlist {
		color: red;
	}
</style>

<link rel="stylesheet" type="text/css" href="{% static 'css/min.css' %}" />

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Georreferenciamento <small>de registros criminais</small></h1>
			</div>

			<div id="map" class="center-block"></div>

			<div id="appSetings">
				<div id="control"><h3>Configurações</h3></div>
				<form id="styleForm" class="form-horizontal" method="post" action="{% url 'analise_criminal:mapAjax' %}">
					{% csrf_token %}
					{% for field in form_styles %}
					<div class="form-group">
						<label for="{{ field.id_for_label }}" class="control-label col-md-2">
							{{ field.label }}
						</label>
						<div class="col-md-10">{{ field }}</div>
					</div>
					{% endfor %}
				</form>
			</div>

			<h3>Opções de seleção</h3>
			<form id="ocorrenciasForm" class="form-horizontal" method="post" action="{% url 'analise_criminal:map' %}">
				{% csrf_token %}
				{% for field in form_options %}
				<div class="form-group">
					<label for="{{ field.id_for_label}}" class="control-label col-md-2">
						{{ field.label }}
					</label>
					<div class="col-md-10">{{ field }}</div>
				</div>
				{% endfor %}
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button class="btn btn-default" type="submit"> 
							<span class="glyphicon glyphicon-search"></span> Buscar
						</button>
					</div>
				</div>
				<p class="text-info">Buscas disponíveis de {{ min }} a {{ max }}.</p>
				<p class="text-warning">É obrigatória a seleção de uma natureza, e as datas
					inicial e final.</p>
			</form>

			<!-- Síntese do número das ocorrências -->
			<div id="id_info" class="text-info">
			</div>
			<!-- Tabela com dados das ocorrências -->
			<div id="dados-ocorrencias">
			</div>
			<!-- Falhas; dados não encontrados -->
			<div id="errors" class="text-danger"></div>

			<div class="row">
				<blockquote class="pull-right">
					<p>μολὼν λαβέ</p>
					<small><cite>Λεωνίδας</cite></small>
				</blockquote>
			</div>
		</div>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7ekvGGHxVTwTVcpi073GOERnktqvmYz8&libraries=geometry,visualization" type='text/javascript'></script> 
<script src="{% static 'js/map/styledMarkers.js' %}"></script>
<script src="{% static 'js/map/oms.js' %}"></script>
<script src="{% static 'js/map/map.js' %}"></script>

{% endblock %}