<!--
For iterating period in two different colums, one at the side of the
other.
-->
{% for row in context_obj %}
	{% for descricao, periodos in row.items %}
	<h3>{{ descricao }}</h3>
	<div class="row">
		{% for periodo in periodos %}
		<div class="col-md-6">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Ord.</th>
						<th>{{ periodo.0.type|title }}</th>
						<th>Registros</th>
					</tr>
				</thead>
				{% for item in periodo|dictsortreversed:"num" %}
				<tr>
					<td>{{ forloop.counter }}</td>
				{% if item.type == 'Dia da semana' %}
					<td>{{ item.field|date:"l" }}</td>
				{% else %}
					<td>{{ item.field }}</td>
				{% endif %}
					<td>{{ item.num }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endfor %}
	</div>
	{% endfor %} {# periodos #}
{% endfor %} {# context_obj #}