{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Relatório{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/min.css' %}" />

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="page-header">
				<h1>Relatório <small>de registros criminais</small></h1>
			</div>

			<p class="text-info">
				Selecione dois períodos para gerar um relatório de
				comparação de dados com os respectvos dados, por exemplo: <br /><br />
				Período A:<br />
				Data Inicial A: 1/9/2015 - Data Final A: 30/9/2015 <br />
				Período B:<br />
				Data Inicial B: 1/10/2015 - Data Final B: 31/10/2015
			</p>

			<form class="form-horizontal" method='get' action="{% url 'analise_criminal:make_report' %}">
				
				<div class="row">
					<div class="col-md-6">
					{% for field in form_report %}
						<div class="form-group">
							<label for="{{ field.id_for_label }}" class="control-label col-md-4">
								{{ field.label|title }}
							</label>
							<div class="col-md-8">{{ field }}
							{% if field.errors %}
								{% for error in field.errors %}
								<span class="text-danger">{{ error }}</span>
								{% endfor %}
							{% endif %}
							</div>
						</div>
					{% endfor %}
					</div>
				
					<div class="col-md-6">
					{% for field in form_filter %}
						<div class="form-group">
							<label for="{{ field.id_for_label }}" class="control-label col-md-2">
								{{ field.label|title }}
							</label>
							<div class="col-md-10">{{ field }}
							{% if field.errors %}
								{% for error in field.errors %}
								<span class="text-danger">{{ error }}</span>
								{% endfor %}
							{% endif %}
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search"></span> Buscar
						</button>
					</div>
				</div>
			</form>

			{% if total.a and total.b %}
			<div id='results' class="row align-center">
				
				<div class="row">
					<div class="col-md-6">
						<h2>Período A<br />{{ data.a }}</h2>
					</div>
					<div class="col-md-6">
						<h2>Período B<br />{{ data.b }}</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h3>Total de ocorrências registradas</h3>
						<table class="table">
							<tr>
								<th>Período A</th>
								<th>Período B</th>
								<th>Variação</th>
							</tr>
							<tr>
								<td>{{ total.a }}</td>
								<td>{{ total.b }}</td>
								{% if total.a < total.b %}
								<td class="bg-danger">
									<span class="glyphicon glyphicon-arrow-up"></span> {{ total.variation|floatformat }}%
								</td>
								{% elif total.a > total.b %}
								<td class="bg-success">
									<span class="glyphicon glyphicon-arrow-down"></span> {{ total.variation|floatformat }}%
								</td>
								{% else %}
								<td>Sem alteração.</td>
								{% endif %}
							</tr>
						</table>

					</div>
				</div>
				
				<h3>5 ocorrências com maior registro</h3>
				<div class="row">
					{% for periodo in naturezas %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>Natureza</th>
									<th>Registros</th>
								</tr>
							</thead>
							{% for natureza in periodo %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ natureza.natureza }}</td>
								<td>{{ natureza.num }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>

				<h3>5 bairros com maior registro</h3>
				<div class="row">
					{% for periodo in bairros %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>Bairro</th>
									<th>Registros</th>
								</tr>
							</thead>
								
							{% for bairro in periodo %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ bairro.bairro }}</td>
								<td>{{ bairro.num }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>

				<h3>10 vias com maior registro</h3>
				<div class="row">
					{% for periodo in vias %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>Via</th>
									<th>Registros</th>
								</tr>
							</thead>
								
							{% for via in periodo %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ via.via }}</td>
								<td>{{ via.num }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>

				<h3>5 locais com maior registro</h3>
				<div class="row">
					{% for periodo in locais %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>Bairro</th>
									<th>Via</th>
									<th>Registros</th>
								</tr>
							</thead>
							{% for local in periodo %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ local.bairro }}</td>
								<td>{{ local.via }}</td>
								<td>{{ local.num }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>

				<h3>Registros por dia da semana</h3>
				<div class="row">
					{% for periodo in dias %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th colspan="3">Dias da semana</th>
								</tr>
								<tr>
									<th>Ord.</th>
									<th>Dia da semana</th>
									<th>Registros</th>
								</tr>
							</thead>
							{% for dia in periodo|dictsortreversed:"count" %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ dia.0.data|date:"l" }}</td>
								<td>{{ dia.count }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>

				<h3>Variação de registros por natureza</h3>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>Natureza</th>
									<th>Período A</th>
									<th>Período B</th>
									<th>Variação</th>
								</tr>
							</thead>
							{% for natureza in comparison %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ natureza.a.natureza }}</td>
								<td>{{ natureza.a.num }}</td>
								<td>{{ natureza.b.num }}</td>
								{% if natureza.a.num < natureza.b.num %}
								<td class="bg-danger">
									<span class="glyphicon glyphicon-arrow-up"></span> {{ natureza.variation|floatformat }}%
								</td>
								{% elif natureza.a.num > natureza.b.num %}
								<td class="bg-success">
									<span class="glyphicon glyphicon-arrow-down"></span> {{ natureza.variation|floatformat }}%
								</td>
								{% else %}
								<td>Sem alteração.</td>
								{% endif %}
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>

			{% if filtro %}
				{% for natureza, periodos in filtro.items %}
				<h2>{{ natureza }}</h2>
				<div class="row">
					{% for periodo in periodos %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>Bairro</th>
									<th>Registors</th>
								</tr>
							</thead>
							{% for bairro in periodo.bairros %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ bairro.bairro }}</td>
								<td>{{ bairro.num }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>

				<div class="row">
					{% for periodo in periodos %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>Via</th>
									<th>Registros</th>
								</tr>
							</thead>
							{% for via in periodo.vias %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ via.via }}</td>
								<td>{{ via.num }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>

				<div class="row">
					{% for periodo in periodos %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>Bairro</th>
									<th>Via</th>
									<th>Registros</th>
								</tr>
							</thead>
							{% for local in periodo.locais %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ local.bairro }}</td>
								<td>{{ local.via }}</td>
								<td>{{ local.num }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>

				<div class="row">
					{% for periodo in periodos %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th colspan="3">Dias da semana</th>
								</tr>
								<tr>
									<th>Ord.</th>
									<th>Dia da semana</th>
									<th>Registros</th>
								</tr>
							</thead>
							{% for dia in periodo.weekdays|dictsortreversed:"count" %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ dia.0.data|date:"l" }}</td>
								<td>{{ dia.count }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>		
				{% endfor %}
			{% endif %}

			</div><!-- #results -->
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}