{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Relatório{% endblock %}

{% block body %}

<script src="{% static 'js/plotly.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/min.css' %}" />
<style>
	.header {
		background-color: black;
		color: white;
		padding: 5px 5px;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="page-header">
				<h1>Relatório <small>de registros criminais</small></h1>
			</div>

			<p class="text-info">
				Selecione dois períodos para gerar um relatório de
				comparação de dados com os respectvos dados, por exemplo: <br /><br />
				Período A:<br />
				Data Inicial A: 1/9/2015 - Data Final A: 30/9/2015 <br />
				Período B:<br />
				Data Inicial B: 1/10/2015 - Data Final B: 31/10/2015
			</p>

			<form class="form-horizontal" method='get' action="{% url 'analise_criminal:make_report' %}">
				
				<div class="row">
					<div class="col-md-6">
						<fieldset>
							<legend>Períodos</legend>
					{% for field in form_report %}
						<div class="form-group">
							<label for="{{ field.id_for_label }}" class="control-label col-md-4">
								{{ field.label|title }}
							</label>
							<div class="col-md-8">{{ field }}
							{% if field.errors %}
								{% for error in field.errors %}
								<span class="text-danger">{{ error }}</span>
								{% endfor %}
							{% endif %}
							</div>
						</div>
					{% endfor %}
						</fieldset>
					</div>
				
					<div class="col-md-6">
						<fieldset>
							<legend>Filtros</legend>
					{% for field in form_filter %}
						<div class="form-group">
							<label for="{{ field.id_for_label }}" class="control-label col-md-3">
								{{ field.label|title }}
							</label>
							<div class="col-md-9">
							{% for option in field %}
								<p>{{ option }}</p>
							{% endfor %}
							</div>
						</div>
					{% endfor %}
						</fieldset>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search"></span> Buscar
						</button>
					</div>
				</div>
			</form>

			{% if total.a and total.b %}
			<div id='results'>
				<div class="row">
					<div class="col-md-10">
				
				<div class="row">
					<div class="col-md-6">
						<h2 class="header">Período A<br />{{ data.a }}</h2>
					</div>
					<div class="col-md-6">
						<h2 class="header">Período B<br />{{ data.b }}</h2>
					</div>
				</div>

		{% if basico %}	
				{% if axis.total %}
				<div class="row">
					{% for periodo in axis.total %}
					<div class="col-md-6">
						<div id="{{ periodo.id }}" style="width:100%; height:400px;"></div>
					</div>

					<script>
					$(function() {
						CONTAINER = document.getElementById('{{ periodo.id }}');
						data = [
							{
								type: 'scatter',
								{% autoescape off %}
								x: {{ periodo.x }},
								y: {{ periodo.y }},
								{% endautoescape %}
								marker: { color: 'rgb(16,32,77)'}
							}
						]
						layout = {
							xaxis: { title: 'Mês' },
							yaxis: { title: 'Registros'},
						}

						Plotly.plot(CONTAINER, data, layout);
					});
					</script>
					{% endfor %}
				</div>
				{% endif %}

				<div class="row">
					<div class="col-md-12">
						<h3>Total de ocorrências registradas</h3>
						<table class="table">
							<tr>
								<th>Período A</th>
								<th>Período B</th>
								<th>Variação</th>
							</tr>
							<tr>
								<td>{{ total.a }}</td>
								<td>{{ total.b }}</td>
								{% if total.a < total.b %}
								<td class="bg-danger">
									<span class="glyphicon glyphicon-arrow-up"></span> {{ total.variation|floatformat }}%
								</td>
								{% elif total.a > total.b %}
								<td class="bg-success">
									<span class="glyphicon glyphicon-arrow-down"></span> {{ total.variation|floatformat }}%
								</td>
								{% else %}
								<td>Sem alteração.</td>
								{% endif %}
							</tr>
						</table>

					</div>
				</div>

			{% for row in basico %}
				{% for descricao, periodos in row.items %}
				<h3>{{ descricao }}</h3>
				<div class="row">
					{% for periodo in periodos %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>{{ periodo.0.type|title }}</th>
									<th>Registros</th>
								</tr>
							</thead>
							{% for item in periodo|dictsortreversed:"num" %}
							<tr>
								<td>{{ forloop.counter }}</td>
							{% if item.type == 'Dia da semana' %}
								<td>{{ item.field|date:"l" }}</td>
							{% else %}
								<td>{{ item.field }}</td>
							{% endif %}
								<td>{{ item.num }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			{% endfor %}

				<h3>Variação de registros por natureza</h3>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>Natureza</th>
									<th>Período A</th>
									<th>Período B</th>
									<th>Variação</th>
								</tr>
							</thead>
							{% for natureza in comparison %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ natureza.a.natureza }}</td>
								<td>{{ natureza.a.num }}</td>
								<td>{{ natureza.b.num }}</td>
								{% if natureza.a.num < natureza.b.num %}
								<td class="bg-danger">
									<span class="glyphicon glyphicon-arrow-up"></span> {{ natureza.variation|floatformat }}%
								</td>
								{% elif natureza.a.num > natureza.b.num %}
								<td class="bg-success">
									<span class="glyphicon glyphicon-arrow-down"></span> {{ natureza.variation|floatformat }}%
								</td>
								{% else %}
								<td>Sem alteração.</td>
								{% endif %}
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
		{% endif %} {# basico #}

		{% if detail %}
			<h2 class="header">Detalhamento por bairro: {{ bairro_detail|title }}</h2>
			{% for row in detail %}
				{% for descricao, periodos in row.items %}
				<h3>{{ descricao }}</h3>
				<div class="row">
					{% for periodo in periodos %}
					<div class="col-md-6">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Ord.</th>
									<th>{{ periodo.0.type|title }}</th>
									<th>Registros</th>
								</tr>
							</thead>
							{% for item in periodo|dictsortreversed:"num" %}
							<tr>
								<td>{{ forloop.counter }}</td>
							{% if item.type == 'Dia da semana' %}
								<td>{{ item.field|date:"l" }}</td>
							{% else %}
								<td>{{ item.field }}</td>
							{% endif %}
								<td>{{ item.num }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			{% endfor %}
		{% endif %}

		{% if filtro %}
			{% for natureza, rows in filtro.items %}
			<h2 class="header">{{ natureza }}</h2>
			{% for row in rows %}
			{% for descricao, periodos in row.items %}
			<h3>{{ descricao }}</h3>
			<div class="row">
				{% for periodo in periodos %}
				<div class="col-md-6">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Ord.</th>
								<th>{{ periodo.0.type|capfirst }}</th>
								<th>Registros</th>
							</tr>
						</thead>
						{% for item in periodo|dictsortreversed:"num" %}
						<tr>
							<td>{{ forloop.counter }}</td>
							{% if item.type == 'Dia da semana' %}
								<td>{{ item.field|date:"l" }}</td>
							{% else %}
								<td>{{ item.field }}</td>
							{% endif %}
							<td>{{ item.num }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
			{% endfor %}
			{% endfor %}
		{% endif %}


					</div>
					<div class="col-md-2">
						NAVIGATION
					</div>
				</div>
			</div><!-- #results -->
			{% endif %} {% comment %} total.a and total.b {% endcomment %}
		</div>
	</div>
</div>

{% endblock %}