{% extends "base.html" %}

{% load staticfiles %}

{% block title %}11º BPM{% endblock %}

{% block body %}

<div class="page-header">
	<h1>Índice <small>Geral</small></h1>
</div>

<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Beta</h4>
  <p>This is still a work in progress.</p>
</div>

<h2>Aplicativos</h2>
<p class="lead">- <a href="{% url 'analise_criminal:index' %}">Análise criminal</a></p>
<p class="lead">- <a href="{% url 'principal:utilitarios' %}">Utilitários</a></p>

<h2>Referências e documentos</h2>
<p class="lead">- <a href="{% url 'principal:biblioteca' %}">Biblioteca</a>

{% endblock %}
