{% extends "base.html" %}

{% block title %}Gerenciar banco de dados{% endblock %}

{% block body %}

<h1>Gerenciar banco de dados</h1>

<p>Total de ocorrências no BD: {{num_rows}}</p>

<h3>Sumário</h3>
<ul>
	<li><a href="{% url 'setup:insert_records' %}">Incluir ocorrências no BD</a></li>
	<li><a href="{% url 'setup:update_lat_lng' %}">Sincronizar latitude e longitude</a></li>
</ul>

<div id='test'></div>


<script>
$(function() {
	$id_test = $('#test');
	var count = 0;
/*	
	$.ajax({
		url: '/setup/ajaxTest/'
	})
	.fail({function(jqXHR, textStatus, errorThrown) {
		alert("Request failed: "+textStatus+', '+errorThrown);
	}})
	.done(function(json) {
		process_json(json);
	});

	function process_json(json) {
		if (count == json.length) {
			alert('DONE');
			return;
		}
		var id = json[count].pk;
		var natureza = json[count].fields.natureza;
		var bairro = json[count].fields.bairro;
		var via = json[count].fields.via;
		var numero = json[count].fields.numero;
		if (via) 	via 	= via + ', ';			
		else 	 	via 	= '';
		if (numero) numero 	= numero + ', ';
		else 		numero 	= '';
		if (bairro) bairro 	= bairro + ', ';
		else 		bairro 	= ''; 
		var addrs = via + numero + bairro;

		$id_test.append('<p>'+addrs+'</p>');

		count++;
		process_json(json);
	}
*/
});
</script>

{% endblock %}