{% extends "base.html" %}

{% block title %}Inserir ocorrências no BD{% endblock %}

{% block body %}

<h1>Inserir ocorrências no BD</h1>
<p class="info">
	Selecione um arquivo em format csv com os dados das
	ocorrências para inseri-los no Banco de Dados.
	<br />
	Selecione também a cidade de referência das ocorrências a serem inseridas.
</p>

Observações:

<ul>
	<li>Os campos devem estar organizados na seguinte ordem:
		<ol>
			<li>Natureza</li>
			<li>Bairro</li>
			<li>Via (rua, avenida, etc)</li>
			<li>Número</li>
			<li>Hora</li>
			<li>Data</li>
		</ol>
	</li>
	<li>Se a ocorrência não possuir data ou hora, os respectivos campos devem estar em branco.</li>
	<li>A hora deve estar no formato hh:mm.</li>
	<li>A data deve estar no formato dd/mm/aaaa.</li>
	<li>As seguintes naturezas estão disponíveis para inserção:
		<ul>
			{% for natureza in naturezas %}
			<li>{{ natureza.nome }}</li>
			{% endfor %}
		</ul>
	</li>
</ul>

<form method="POST" enctype="multipart/form-data" action="{% url 'setup:insert_records' %}">
	{% csrf_token %}
	<table>
		{{ form }}
	</table>
	<input class="btn btn-default" type="submit" value="Inserir dados">
</form>

{% if result %}
<h3>Resultado:</h3>
<ol>
	{% for info in result %}
	<li>{{ info }}</li>
	{% endfor %}
</ol>
{% endif %}


{% endblock %}
