{% extends "setup_app/base.html" %}

{% load staticfiles %}

{% block title %}Update Latitude and Longitude{% endblock %}

{% block body %}

<style>
	#id_map {
		width: 90%;
		height: 500px;
		margin-left: auto;
		margin-right: auto;
	}
</style>

<div class="content">
	<h1>Setup</h1>

	<form id="id_updateForm" method="post" action="{% url 'setup:update_lat_lng' %}">
		{% csrf_token %}
		<div id="id_feedback">Nada ainda</div>
		<input id="submitButton" type="submit" name="submit" value="Update" />
		<input id="id_start" type="hidden" name="start" value="0" />
		<input id="id_stop" type="hidden" name="stop" value="0" />
		<input id="id_pks" type="hidden" name="pks" value='' />
	</form>

	<div id="id_response_data"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7ekvGGHxVTwTVcpi073GOERnktqvmYz8" type='text/javascript'></script>
<script src="{% static 'js/setup_lat_lng.js' %}"></script>

{% endblock %}