{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Utilitários{% endblock %}

{% block body %}

<div class="page-header">
	<h1>Utilitários <small>aplicativos de usos práticos</small></h1>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Aplicativos</h3>
	</div>
</div>

<form class="form-horizontal well" method='GET' action='{% url "principal:utilitarios" %}'>
	<fieldset>
		<legend>Cálculo de dias de afastamento</legend>

	<div class="row">
		{% for field in form.timedelta %}
		<div class="col-md-6 form-group">
			<label for="{{ field.id_for_label }}" class="control-label col-md-5">
				{{ field.label }}
			</label>
			<div class="col-md-5">{{ field }}</div>
		</div>
		{% endfor %}
	</div>
	{{ form_timedelta.as_p }}
	<div class="col-md-offset-1">
		<input class='btn btn-default' type='submit' value='Calcular' />
	</div>
	</fieldset>
</form>
{% if result_timedelta %}
<h4>Resultado:</h4>
<table class='table table-bordered'>
	<tr>
		<th>Data inicial</th>
		<th>Data final</th>
		<th>Dias</th>
	</tr>
	<tr>
		<td>{{ result_timedelta.inicial }}</td>
		<td>{{ result_timedelta.final }}</td>
		<td>{{ result_timedelta.timedelta }}</td>
	</tr>
</table>
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'analise_criminal/jquery.datetimepicker.min.css' %}" />
<script src="{% static 'analise_criminal/jquery.datetimepicker.full.min.js' %}"></script>
<script type="text/javascript">
$('document').ready(function() {
	jQuery.datetimepicker.setLocale('pt');

	var months = [
		'Janeiro', 'Fevereiro', 'Março', 'Abril',
		'Maio', 'Junho', 'Julho', 'Agosto',
		'Setembro', 'Outubro', 'Novembro', 'Dezembro',
	];

	var daysOfWeek = [
		'Dom', 'Seg', 'Ter', 'Qua',
		'Qui', 'Sex', 'Sab',
	];

	$('#id_data_inicial').datetimepicker({
		i18n: {
			pt: {
				months: months,
				daysOfWeek: daysOfWeek
			}
		},
		timepicker: false,
		format: 'd/m/Y'
	});

});
</script>

{% endblock %}