{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Análise Criminal{% endblock %}

{% block body %}

<script src="{% static 'js/plotly.min.js' %}"></script>

<h1>Análise Criminal <small>Índice</small></h1>

<h3>Mapa</h3>
<a href="{% url 'analise_criminal:map' %}">
	Visualização interativa e dinâmica de registros criminais</a>

<h3>Relatório</h3>
<a href="{% url 'analise_criminal:report' %}">
		Análise e comparação de registros criminais</a>

<h2>Síntese de registros</h2>

		{% for key, values in axis.items %}
			<div id="{{ key|slugify }}" style="width:100%; height:500px;"></div>
			<script>
			$(function() {
				TESTER = document.getElementById('{{ key|slugify }}');
				data = [
					{
					{% if key == 'pie' %}
						type: 'pie',
						{% autoescape off %}
						labels: {{ values.labels }},
						values: {{ values.values }},
						{% endautoescape %}
					{% else %}
						type: 'scatter',
						{% autoescape off %}
						x: {{ values.x }},
						y: {{ values.y }},
						{% endautoescape %}
						marker: { color: 'rgb(16,32,77)'},
					{% endif %}
					}
				]
				layout = {
					title: '<b>11º BPM - Sinop</b><br />' +
						'{{ key|capfirst }} - 2015',
					xaxis: { title: 'Mês' },
					yaxis: { title: 'Registros'},
				}

				Plotly.plot(TESTER, data, layout);
			});
			</script>
		{% endfor %} {# axis.values #}

{% endblock %} {# body #}